<div class="input-group">
    <form asp-action="Search" asp-controller="HangHoa" class="d-flex w-100">
        <input type="search" class="form-control p-3 rounded-start"
               placeholder="Nhập từ khóa..."
               aria-describedby="search-icon-1"
               name="search">
        <button type="submit" class="btn btn-primary px-4 rounded-end">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>